body {
  font-family: serif;
  display: block;
}

*{
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-size: 175%;
}

section {
  position: relative;
  background-color: red;
  float: left;
  border: solid 1px;
  padding: 5px; /* for .title, should stay */
}

.type1{
  width: 90%;
  overflow: hidden;
  padding: 10px;
  margin: 2px;
  height: 80px;
}

.title{
  font-size: 125%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px;
  margin-left: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


#title1{
  background-color: blue;
}
#title2{
  background-color: pink;
}
#title3{
  background-color: green;
}

@media(min-width: 992px){
.col-lg1, .col-lg2, .col-lg3, .col-lg4, .col-lg5, .col-lg6, 
.col-lg7, .col-lg8, .col-lg9, .col-lg10, .col-lg11, .col-lg12
    .col-lg1{
      width: 8%;
    }
    .col-lg2{
      width: 16.33%;
    }
    .col-lg3{
      width: 24.66%;
    }
    .col-lg4{
      width: 33%;
    }
    .col-lg5{
      width: 41.66%;
    }
    .col-lg6{
      width: 49.5%;
    }
    .col-lg7{
      width: 58.33%;
    }
    .col-lg8{
      width: 66.66%;
    }
    .col-lg9{
      width: 75%;
    }
    .col-lg10{
      width: 83.33%;
    }
    .col-lg11{
      width: 91.66%;
    }
    .col-lg12{
      width: 100%;
    }
}

@media(min-width: 768px) and (max-width: 991px){
.col-mg1, .col-mg2, .col-mg3, .col-mg4, .col-mg5, .col-mg6, 
.col-mg7, .col-mg8, .col-mg9, .col-mg10, .col-mg11, .col-mg12

    .col-mg1{
      width: 8.33%;
    }
    .col-mg2{
      width: 16.66%;
    }
    .col-mg3{
      width: 25%;
    }
    .col-mg4{
      width: 33.33%;
    }
    .col-mg5{
      width: 41.66%;
    }
    .col-mg6{
      width: 50%;
    }
    .col-mg7{
      width: 58.33%;
    }
    .col-mg8{
      width: 66.66%;
    }
    .col-mg9{
      width: 75%;
    }
    .col-mg10{
      width: 83.33%;
    }
    .col-mg11{
      width: 91.66%;
    }
    .col-mg12{
      width: 100%;
    }
  }

@media(max-width: 767px){
  .col-sg1, .col-sg2, .col-sg3, .col-sg4, .col-sg5, .col-sg6, 
  .col-sg7, .col-sg8, .col-sg9, .col-sg10, .col-sg11, .col-sg12
  .col-sg1{
    width: 8.33%;
  }
  .col-sg2{
    width: 16.66%;
  }
  .col-sg3{
    width: 25%;
  }
  .col-sg4{
    width: 33.33%;
  }
  .col-sg5{
    width: 41.66%;
  }
  .col-sg6{
    width: 50%;
  }
  .col-sg7{
    width: 58.33%;
  }
  .col-sg8{
    width: 66.66%;
  }
  .col-sg9{
    width: 75%;
  }
  .col-sg10{
    width: 83.33%;
  }
  .col-sg11{
    width: 91.66%;
  }
  .col-sg12{
    width: 100%;
  }
}
